@font-face {
    font-family: "PixelFont";
    src: url("/static/fonts/04B_03__.TTF");
 }
 
h1 {
    color: white;
    font-size: 80px;
    text-align: center;
}

input {
    font-family: "PixelFont";
}

body {
    font-family: "PixelFont";
    background-color: black;
}

.middleField {
    padding: 20px 20px;
    text-align: center;
}

.keyField {
    padding: 80px 0 0 0;
}

.cave {
    height: 50vh;
    background-size: 500px;
    background-image: url("/static/images/entrance_cave.png");
    background-position: center;
    background-repeat: no-repeat;
}

.goblin {
    padding: 240px 0 0 0;
}

.sendButton {
    margin: 5px;
}
