@font-face {
    font-family: "PixelFont";
    src: url("/static/fonts/04B_03__.TTF");
}

h1 {
    font-size: 40px;
}

p {
    margin-top: 40px;
}

img {
    max-width:100%;
    max-height:100%;
}

body {
    color: rgb(214, 214, 214);
    text-align: center;
    font-family: "PixelFont";
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
    /* To remove scrollbar add hidden */
    overflow: auto;
}

/* Background */

.background {
    background-image:
    url("/static/images/grey_L4_down.png"),
    url("/static/images/grey_L4_up.png"),
    url("/static/images/grey_L3_down.png"),
    url("/static/images/grey_L3_up.png"),
    url("/static/images/grey_L1.png");
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position: bottom, top, bottom, top, center;
}


/* Messages */

.messageField {
    height: 30px;
    margin-top: 16px;
}

ul.messages {
    list-style-type: none;
    padding-left: 0;
    width: 100%;
}

ul.messages li.error {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(102, 167, 92);
    font-size: 16px;
}

/* Fields and sections */

.middleField {
    margin-right: 20%;
    margin-left: 20%;
    padding: 20px 20px;
}

.upperSection {
    height: 600px;
    width: 100%;
}

.lowerSection {
    height: 100%;
    width: 100%;
}

.aligned {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.leftSidebar {
    height: 100%;
    width: 20%;
    position: absolute;
    left: 0;
}

.rightSidebar {
    height: 100%;
    width: 20%;
    position: absolute;
    right: 0;
}

/* Form */

textArea {
    width: 99.5%;
    resize: none;
}

input {
    font-family: "PixelFont";
}

/* Chatbox */

.chatMessageField {
    margin-top: 200px;
}

.chatList {
    list-style-type: none;
    margin-top: -8px;
    padding-left: 0;
}

.chatBox {
    background-color: rgb(139, 137, 134);
    text-align: left;
    border: 150px white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.chatMessage {
    color: rgb(0, 0, 0);
    padding: 10px 30px 30px 30px;
    word-wrap: break-word;
}

.chatTime {
    color: rgb(199, 199, 199);
    padding: 2px 2px 0 0 ;
    text-align: right;
}

.chatButton {
    margin-top: 5px;
    text-align: right;
}

/* Animations */

  @keyframes gob-run-left {
    0% {
      transform: translateX(0) ;
    }
    49% {
      transform: translateX(-2vw);
    }
    50% {
        transform: translateX(-2.5vw) rotateY(180deg);
      }
    99% {
        transform: translateX(-0.5vw) rotateY(180deg);
    }
    100% {
        transform: translateX(0);
    }
  }

  @keyframes gob-run-right {
    0% {
      transform: translateX(0) ;
    }
    49% {
      transform: translateX(2vw);
    }
    50% {
        transform: translateX(2.5vw) rotateY(180deg);
      }
    99% {
        transform: translateX(0.5vw) rotateY(180deg);
    }
    100% {
        transform: translateX(0);
    }
  }

  .goblinleft {
    animation-name: gob-run-left;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }

  .goblinright {
    animation-name: gob-run-right;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }
  
