@font-face {
    font-family: "PixelFont";
    src: url("/static/fonts/04B_03__.TTF");
}

h1 {
    color: white;
    text-align: center;
}

h2 {
    color: white;
    text-align: center;
}

p {
    color: white;
    text-align: center;
}

header {
    color: white;
}

input {
    font-family: "PixelFont";
}

body {
    font-family: "PixelFont";
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
    /* to remove scrollbar add hidden*/
    overflow: auto;
}

/* Background */

.background {
    background-image: url("/static/images/stalelite_ups.png"), url("/static/images/stalelite_downs.png");
    background-repeat: no-repeat;
    background-size: 100%, 100%, 125%;
    background-attachment: fixed, fixed, fixed;
    background-position: top, bottom;
} 


/* Messages */

.messageField {
    height: 30px;
    margin-top: 16px;
}

ul.messages {
    list-style-type: none;
    padding-left: 0;

    width: 100%;
}

ul.messages li.error {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(102, 167, 92);
    font-size: 16px;
}

/* Sidebars */

.leftSidebar {
    height: 100%;
    width: 20%;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 40px;
}

.rightSidebar {
    height: 100%;
    width: 20%;
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 40px;
}

/* Form */

.btwText {
    margin-top: 60px;
}

textArea {
    width: 99.5%;
    resize: none;
}

/* Chatbox */

.chatMessageField {
    margin-top: 60px;
}

.chatList {
    list-style-type: none;
    padding-left: 0;
}

.chatField {
    margin-left: 20%;
    margin-right: 20%;
    padding: 20px 20px;
}

.chatBox {
    background-color: white;
    box-shadow: 0 0 10px 5px rgb(73, 73, 73);
    margin-top: 10px;
    margin-bottom: 10px;
}

.chatMessage {
    padding: 10px 30px 30px 30px;
    word-wrap: break-word;
}

.chatTime {
    color: rgb(168, 168, 168);
    padding: 2px 2px 0 0 ;
    text-align: right;
}

.chatButton {
    margin-top: 5px;
    text-align: right;
}

/* Animations */

.runningGoblins {

}

@keyframes goblin-walk {
    0% {
      transform: translateX(67%) ;
    }
    49% {
      transform: translateX(700%);
    }
    50% {
        transform: translateX(700%)  rotateY(180deg);
      }
    99% {
        transform: translateX(67%)  rotateY(180deg);
    }
    100% {
        transform: translateX(67%);
    }
  }
  
  /* The element to apply the animation to */
  .goblin {
    animation-name: goblin-walk;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }
