<!DOCTYPE html>

<html>
<head>
    <title>Gobber</title>
    {% load static %}
    <link rel="icon" href="{% static 'images/favicon.png' type='image/png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'gobber/accessStyle.css' %}">
</head>

<body>

<div class="middleField">

    <h1>GOBBER</h1>

    <div class="cave">
        <img class="goblin" src="/static/images/goblinguard.gif">
    </div> 

    <div class="keyField">
        <form action="{% url 'gobber:access' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <div class="sendButton">
                <input  type="submit" value="Whisper"> 
            </div>
        </form>
    </div>

</div>


</body>
</html>