<!DOCTYPE html>

<html>
<head>
    <title>Gobber</title>
    {% load static %}
    <link rel="icon" href="{% static 'images/favicon.png' type='image/png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'gobber/chatStyle.css' %}">
</head>

<meta name="viewport" content="width=device-width, initial-scale=1">

<body class="background">

<div class="upperSection">

    <div class="middleField">

        <h1>GOBBER</h1>

        <div class="chatMessageField"> 
            <div class="aligned">
                <img src="/static/images/goblin_attack_right.gif">
                <h2>WHAT IS ON YOUR MIND?</h2>
                <img src="/static/images/goblin_attack_left.gif">
            </div>
            <!-- When button is clicked, data is posted -->
            <form action="{% url 'gobber:chats' %}" method="post">
                {% csrf_token %}
                    {{ form }}
                <div class="chatButton">
                    <input type="submit" value="Send"> 
                </div>
            </form>
        </div>

        <!-- Displaying error messages -->
        <div class="messageField"> 
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <div>
                <li class="{{ message.tags }}"> <img src="/static/images/goblin_death.gif"> {{ message }} <img src="/static/images/goblin_death.gif"> </li>
                </div>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

    </div>
</div>

<div class="lowerSection">

    <div class="middleField">

        <div class="aligned">
        <img class="goblinleft" src="/static/images/goblin_run_left.gif">
        <h2>THE LATEST GIBBER AND GABBER</h2>
        <img class="goblinright" src="/static/images/goblin_run_right.gif">
        </div>

        <div>
        {% if messageList %}
            <ul class="chatList">
            {% for message in messageList %}
                <div class = "chatBox">
                    <li class="chatTime"> {{message.pub_date}} </li>
                    <li class="chatMessage"><a> {{message.message_text}} </a></li>
                </div>
            {% endfor %}
            </ul>
        {% else %}
            <p>No chats are available.</p>
        {% endif %}
        </div>

        <div class="aligned">
            <img src="/static/images/goblin_attack_right.gif">
            <img src="/static/images/goblin_death.gif">
            <img src="/static/images/goblin_attack_left.gif">
        </div>

            <p>100% ANONYMOUS AND ISOLATED MESSAGING. ONLY REAL GOBLINS LET INSIDE. WHAT HAPPENS IN THE CAVE STAYS INSIDE THE CAVE.</p>
    </div>
</div>
</div>
</body>
</html>

