<!DOCTYPE html>

<html>
<head>
    <title>Gobber</title>
    {% load static %}
    <link rel="icon" href="{% static 'images/favicon.png' type='image/png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'gobber/chatStyle.css' %}">
</head>

<body class="background">

<div>
    
    <h1>GOBBER</h1>

</div>

<div class="leftSidebar">
</div>


<div class="rightSidebar">
</div>

<div class="chatField">

    <div class="chatMessageField"> 

        <h2>GIBBER AND GABBER WITH OTHER GOBLINS</h2>
        <!-- When button is clicked, data is posted-->
        <form action="{% url 'gobber:chats' %}" method="post">
            {% csrf_token %}
                {{ form }}
            <div class="chatButton">
                <input type="submit" value="Send"> 
            </div>
        </form>
    </div>

    <div class="messageField"> 

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <div>
            <li class="{{ message.tags }}"> <img src="/static/images/goblin_attack_right.gif"> {{ message }} <img src="/static/images/goblin_attack_left.gif"> </li>
            </div>
            {% endfor %}
        </ul>
        {% endif %}

    </div>

    <div>
    {% if messageList %}
        <ul class="chatList">
        {% for message in messageList %}
            <div class = "chatBox">
                <li class="chatTime"> {{message.pub_date}} </li>
                <li class="chatMessage"><a> {{message.message_text}} </a></li>
            </div>
        {% endfor %}
        </ul>
    {% else %}
        <p>No chats are available.</p>
    {% endif %}
    </div>

    <div class="btwText">
        <p>100% ANONYMOUS AND ISOLATED MESSAGING. ONLY REAL GOBLINS LET INSIDE. WHAT HAPPENS IN THE CAVE STAYS INSIDE THE CAVE.</p>
    </div>
    
</div>
</body>
</html>

